html, body{
    height: 100%;
    max-height: 100%;
    font-family: 'Roboto, sans-serif;'
}
.top-container{
    padding-top:10%;
    //color: #fff;
}
.general-container{
	background: url('../img/bg_img.jpg');
	height: 100%;
}
.general-container form{
	margin-top: 30px;
}
.general-container form label{
	font-weight: 100;
	color: #fff;
}
.title{
	text-align: center;
	color: white;
	font-weight: 100;
	line-height: 50px;
}
.orange-btn{
	background-color: #e8643e;
	border: none;
}
.orange-btn:hover{
	background-color: #b5492a;
	border: none;
}